<h1>List of Recordings</h1>
<ul>
  <% @recordings[:recordings].each do |recording| %>
    <li>
        <strong>Name:</strong> <%= recording[:name] %><br>
        <strong>Meeting ID:</strong> <%= recording[:meetingID] %><br>
        <strong>Record ID:</strong> <%= recording[:recordID] %><br>
      <br>
      <br>
    </li>
  <% end %>
</ul>
